@model TaskManager.Web.Models.TaskSearchViewModel

<h1>Listado de Tareas</h1>

<form id="filterForm" class="row g-3 mb-3">
    <div class="col-md-3">
        <label class="form-label">Texto</label>
        <input asp-for="Text" class="form-control" />
    </div>

    <div class="col-md-2">
        <label class="form-label">Categoría ID</label>
        <input asp-for="CategoryId" class="form-control" />
    </div>

    <div class="col-md-2">
        <label class="form-label">Nombre Categoría</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <div class="col-md-2">
        <label class="form-label">Step</label>
        <input asp-for="Step" class="form-control" />
    </div>

    <div class="col-md-2">
        <label class="form-label">Estado</label>
        <select asp-for="IsCompleted" class="form-select">
            <option value="">--</option>
            <option value="true">Completadas</option>
            <option value="false">Pendientes</option>
        </select>
    </div>

    <div class="col-md-12">
        <button type="button" id="btnBuscarAjax" class="btn btn-primary">Buscar (AJAX)</button>
    </div>
</form>

<div id="taskTableContainer">
    @await Html.PartialAsync("_TaskTablePartial", Model.Result?.Items)
</div>

@section Scripts {
    <script src="~/js/Task/tasks-partial.js"></script>
}
